<script id="tmpl-MainView" type="text/html">
	<div class="MainView">
		<div class="MainView-MainContainer">
			<h2>Main Container</h2>
		</div>
		<div class="MainView-TableContainer">
			<h2>JQGRID</h2>
		</div>
		<div>
			<button class="sendBtn btn btn-primary">Send</button>
		</div>		
	</div>
</script>
