<script type="text/html" id="tmpl-TableContainer">
	<div class="TableContainer">
		<div class="btnWrapper">
			<button class="fillDataBtn btn btn-info">Fill Data</button>
			<button class="searchDataBtn btn btn-warning">Search Account</button>
		</div>
		<div class="paginationFilters">
			<p>Rows/View</p>
			<input type="text" id="rowsxView"/>
			<p>Page</p>
			<input type="text" id="viewId"/>	 	
		</div>
		<div class="TableWrapper">
			<table id="table"></table>
			<div id="pager"></div>
		</div>
</script>