<script type="text/html" id="tmpl-TableContainer">
	<div class="TableContainer">
		<div class="btnWrapper">
			<button class="fillDataBtn btn btn-info">Refresh Data</button>
			<button class="searchDataBtn btn btn-warning">Search Account</button>
		</div>
		<div class="TableWrapper">
			<table id="table"></table>
			<div id="pager"></div>
		</div>
</script>