@CHARSET "ISO-8859-1";

#MainView{
	border: solid 1px blue;
}

#MainView-MainContainer{
	position: relative;
	overflow: hidden;
	border: solid 1px blue;
	margin-bottom: 20px;
	margin-top: 20px; 
}

#MainView-TableContainer{
	float: right;
	border: solid 1px black;
}