@CHARSET "ISO-8859-1";

.TableWrapper{
	/*border: solid 1px red;*/
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 200px;
}

#table{
	/*border: solid 1px green;*/
	width: 500px;
}

#pager{
	width: 500px;
}

.showTblBtn{
	float: left;
	margin-left: 280px; 
}

.fillDataBtn{
	display: none;
	float: right;
	margin-right: 280px;
}

.btnWrapper{
	/*border: solid 1px red;*/
	overflow: hidden;
	position: relative;
}

.searchDataBtn{
	display: none;
}